p, div.wp-block-image, figure {
	margin-bottom: 12px;
}

.wp-block-image>figure>figcaption, p:last-child {
	margin-bottom: 0;
}



.menu {
	background: rgba(38,50,74,1);
	color: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu a {
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	padding-left: 12px;
	padding-right: 12px;

	transition: all 0.5s ease;
}

.menu a:hover {
	color: #fec56b;
	text-decoration: none;
}

.menu-item {
	width: fit-content;	
    padding: 6px 12px;
}

.navbar-nav {
    flex-direction: row;
}



.banner {
	padding: 6rem 5%;
	position: relative;
	background: rgba(0, 0, 0, 0.4);
}

.banner:after {
	content: "";
	position: absolute;
	background-image: url('../src/beach-golden-hour-grass-1192671.jpg');
	background-size: cover;
    background-position: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	opacity: 0.5; 
}

.page-title {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 36px;
	text-transform: capitalize;
}



.content {
	font-family: 'Lora', sans-serif;
	font-size: 16px;
}

.content .main-content {
	text-align: justify;

	padding-top: 48px;
	padding-bottom: 48px;
}

.content-post:not(:last-child) {
	margin-bottom: 48px;
}

.content-post-title {
	font-weight: 600;
	text-transform: capitalize;
	margin-bottom: 3px;
}

.content-post-title>a{
	color: #000;
	transition: all 0.3s ease;
}

.content-post-title>a:hover{
	color: #f19300;
	text-decoration: none;
}

.content-post-meta {
	color: #777;
	font-style: italic;
	margin-bottom: 12px;
}

.content-post-featured-image {
	height: 350px;
	width: 100%;
	background-size: cover;
	background-position: center;
	margin-bottom: 12px;
}

.content-post-author {
	text-transform: capitalize;
}


.blockquote {
	padding-left: 24px;
	border-left: 2px #777 solid;
	color: #777;
	font-style: italic;
}


.comment.parent {
	border-bottom: 1px #777 solid;
	margin-bottom: 12px;
}

.comment-metadata>a>time {
	color: #777;
	font-style: italic;
	font-size: 12px;
	padding-right: 6px;
}

.comment-post-title, .comment-reply-title {
	font-weight: 600;
	margin-bottom: 12px;
}

.comment-post ul, .comment-post li {
	list-style-type: none;
}

.comment-body {
    margin-bottom: 12px;
    padding: 12px 24px;
    background: #f5f5f5;
    border-radius: 5px;
}

.comment-body a{
    color: #000;
	transition: all 0.5s ease;
	font-weight: 700;
}

.comment-body a:hover {
	color: #f19300;
	text-decoration: none;
}

.comment-author {
	text-transform: capitalize;
}

.comment-author img {
	border-radius: 50px;
}

.comment-content {
	padding: 12px 0;
	color: #333;
}

.comment-reply-link, .comment-edit-link {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1.2px;
	font-size: 12px;
	text-transform: uppercase;
}

.comment-form-comment>textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 6px 24px;
}

.comment-respond .form-submit {
    text-align: center;
}

.comment-respond .form-submit input {
	font-size: 12px;
    border-radius: 100px;
    padding: 6px 24px;
    background: #777;
    color: #fff;
    border: none;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
	letter-spacing: 2.2px;
	transition: all 0.3s ease;
}

.comment-respond .form-submit input:hover {
	background: #4c4c4c;
}



.footer {
	background: #26324a;
	color: #fff;
	padding: 24px;
}